<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.employee_details">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Home_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Drawer_activity" />
        <activity android:name=".PersonalD" />
        <activity android:name=".SanctionLogin" />
        <activity android:name=".ApplyLeave" />
        <activity android:name=".LeaveDetail" />
        <activity android:name=".Role_select" />
        <activity android:name=".LeaveHistory" />
        <activity android:name=".MultiProfile" />
        <activity android:name=".ProfessionalD" />
        <activity android:name=".HealthD"></activity>
    </application>

</manifest>